{{#each burgers}}
<p>{{this.burger_name}}</p>
{{/each}}

<h1> Add a Burger </h1>
<input type = "text" id = "userInput" name= "burgerName" placeholder = "Enter Burger Name Here...">
<button type="button" id= "submitBurger" class="btn btn-secondary">Submit</button>